.container .title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.container .cartas-title {
    font-family: 'Inter', sans-serif;
}

.container .concert1 {
    background-image: url('/img/concerts/concert1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .concert2 {
    background-image: url('/img/concerts/concert2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container .concert3 {
    background-image: url('/img/concerts/concert3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}